$light-font-color: #FFFFFF;
$primary-font-color: #000000;
$secondary-font-color: #AAAAAA;

$primary-font-size: 1em;
$secondary-font-size: 0.8em;

$tile-radius: 0.2em;
$img-height: 12em;

$loading-height: 5em;